@font-face {
   font-family: 'Spartan-Medium';
   font-display: swap;
   src: url('Spartan-Medium/font.ttf');
}
@font-face {
   font-family: 'Spartan-Regular';
   font-display: swap;
   src: url('Spartan-Regular/font.ttf');
}
