@font-face {
   font-family: 'Spartan-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Muhammed/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-14_150449/fonts/Spartan-Regular/font.ttf');
}
