.u-section-1 {
  background-image: url("images/LandingBG-new.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 80px 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  margin: 40px 311px 0 0;
}

.u-section-1 .u-btn-2 {
  margin: -35px 38px 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 450px;
  background-image: url("images/LandingGraphic.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: auto;
  margin-bottom: 4px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 40px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 40px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 40px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 38px;
  min-height: 16px;
  width: 86px;
  min-width: 42px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 211px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 211px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 371px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 33px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 33px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 101px;
  }

  .u-section-1 .u-image-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 25px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 25px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -35px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 236px;
    order: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 2px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 56px;
    order: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 56px;
    order: 2;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 56px;
    order: 1;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 149px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 35px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 35px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 35px;
  }
}.bordertop {
	border-top: 1px solid #757575;
}
@media only screen and (min-width: 992px) {
	.landingpage {
		height: calc(100vh - 161px) !important;
	}
	.landinggrid {
		top: calc(50vh - 386px) !important;
	}
	.landingbottomgrid {
		position: absolute;
		top: calc(100vh - 201px) !important;
	}
}