.u-section-1 {
  background-image: url("images/pen_book.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 429px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 198px;
  animation-duration: 1000ms;
  background-image: none;
  margin: 231px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 30px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-1 .u-group-1 {
    min-height: 270px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 540px;
}

.u-section-2 .u-list-1 {
  min-height: 400px;
  grid-gap: 20px 20px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  margin: 40px 0 60px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-text-6 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-text-8 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
}

.u-section-2 .u-container-layout-10 {
  padding: 10px;
}

.u-section-2 .u-text-10 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-11 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-12 {
  background-image: none;
}

.u-section-2 .u-container-layout-12 {
  padding: 10px;
}

.u-section-2 .u-text-12 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-13 {
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-14 {
  background-image: none;
}

.u-section-2 .u-container-layout-14 {
  padding: 10px;
}

.u-section-2 .u-text-14 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-15 {
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-text-15 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-16 {
  background-image: none;
}

.u-section-2 .u-container-layout-16 {
  padding: 10px;
}

.u-section-2 .u-text-16 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-17 {
  background-image: none;
}

.u-section-2 .u-container-layout-17 {
  padding: 10px;
}

.u-section-2 .u-text-17 {
  margin: 0 auto;
}

.u-section-2 .u-list-item-18 {
  background-image: none;
}

.u-section-2 .u-container-layout-18 {
  padding: 10px;
}

.u-section-2 .u-text-18 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-2 .u-list-1 {
    min-height: 330px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-list-1 {
    min-height: 720px;
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  min-height: 524px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 524px;
  pointer-events: auto;
  background-image: url("images/court_inside.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 524px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 80px 200px 80px 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 331px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 255px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 22px;
    margin-right: 22px;
  }
}@media only screen and (max-width: 992px) {
	.groupTransparency {
		background-color: rgba(255, 255, 255, 0.9) !important;
	}
}
.TabGroup {
	/*border: solid 1px #3f3f3f !important;*/
}
.imageright {
	position: absolute;
	right: 0px !important;
	left: auto;
}
.parawhitebg {
	padding: 15px;
	background: solid white;
}